@import './colors.less';

.board {
  margin-top: 3em;

  > div {
    display: grid;
    margin-bottom: 3em;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'image description';

    &:nth-child(even) {
      grid-template-areas:
        'title title'
        'description image';
    }

    @media @mobile {
      grid-template-columns: 1fr;
      grid-template-areas:
        'title'
        'image'
        'description' !important;
    }

    > h2 {
      grid-area: title;
      text-align: center;
      margin: 0;
    }

    > div.image {
      grid-area: image;
      height: 0;
      align-self: start;
    }

    > div.descriptions {
      grid-area: description;
      align-self: start;
    }
  }

  p {
    text-align: justify;
  }
}
