#joboffer-list {
  .list-item {
    border-bottom: 1px solid #000;
    cursor: pointer;

    h2 {
      display: inline-block;
      margin: 0;
      padding: 1em 0;
    }
  }

  .registration {
    background-color: #fff;
  }

  .upcoming {
    background-color: #bbb;
  }

  .past {
    background-color: #777;
  }
}
